<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= movie.title %> </title>
</head>
<body>
    <h1><%= movie.title %> </h1>    
    <br>
    <p>Rating: <%= movie.rating %> </p>
    <p>Premios: <%= movie.awards %> </p>
    <p>Duración: <%= movie.length + ' min'%> </p>
    <br>
    <% if (genre) { %>
        <p>Género: <%= genre.name %> </p>
        <p>RANKING: <%= genre.ranking %> </p>
    <% } else { %>
        <p>No se encontró información sobre el género.</p>
    <% } %>

    <p>Fecha de lanzamiento: <%= movie.release_date %> </p>

    <% if (actors && actors.length > 0) { %>
        <p>Actores:</p>
        <ul>
            <% actors.forEach(actor => { %>
                <li><%= actor.first_name %> <%= actor.last_name %></li>
            <% }); %>
        </ul>
    <% } else { %>
        <p>No se encontró información sobre los actores.</p>
    <% } %>
</body>
</html>
